body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.ap-style{
    color: orange;
}
section{
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire{
    text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.exp-bg{
   
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;}
.parents{
display: flex;
text-align: center;
}
.full-stack{
     width: 40%;
     margin-left: 5%;
     box-shadow: 10px 10px 40px gray;
     padding: 10px;
     border-left: solid 7px orange;
}
.baby-web{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 10px;
    border-left: solid 7px green;
}
.full{
    color: orange;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}